body
{
font-size: 20px;
color:rgb(44, 41, 41);
background-color: #08f8ec60;		
font-family: "Gill Sans", sans-serif;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
  border: 2px solid #000 !important;
}
#header-nav
{
background-color:#999999;  
border:2px solid #000; 
border-radius: 0;
}
.navbar-brand
{
margin-top: 10px;
padding-top:10px;
}
.navbar-nav
{
margin:0 -15px !important;
}
.navbar-brand h1
{
color: #000;
font-size: 1.5em;
font-weight: bold;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
margin-left: 15px;
}